@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");

* {
  margin: 0;
}

nav {
  height: 10vh;
  font-family: "Poppins";
  display: flex;
  flex-direction: row;
  margin: 0rem 3rem 0rem 0rem;
}

nav .nav-items {
  flex: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  color: white;
  font-size: 1.25rem;
  font-weight: 500;
}

nav .nav-item:hover {
  color: #ff6767;
}

.company-name {
  flex: 5;
  margin: auto;
  font-size: 1.5rem;
  font-weight: 600;
}

main {
  font-family: "Poppins";
  padding-left: 3rem;
  background-image: url("./Images/Hero\ Background.png");
  background-size: cover;
  height: 100vh;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  width: 60vw;
}

.heading {
  font-weight: 600;
  font-size: 4.25rem;
}

.paragraph {
  font-size: 1.2rem;
  width: 75%;
}

.disimg{
  height: 3.8rem;
}

.btn {
  border: none;
  width: 25%;
  font-weight: 400;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  margin-top: 2rem;
  border-radius: 5px;
  padding: 0.85rem 0.75rem;
  background-color: #ff6767;
}

.display {
  font-family: "Poppins";
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  background-color: #313131;
  color: white;
}

.sec1 {
  margin: 4rem 5rem;
}

.sectext {
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 0.5rem;
}

.testimonials {
  background-color: #313131;
  color: white;
  padding: 5rem;
  padding-bottom: 0rem;
  display: flex;
  padding-right: 0rem;
}

.leftside {
  width: 33vw;
  margin-right: 10vw;
}

.theading {
  font-family: "Poppins";
  letter-spacing: 0.5rem;
  font-size: 1rem;
}

.line {
  border: none;
  width: 5rem;
  height: 0.25rem;
  background-color: #ff6767;
}

.tcontent {
  margin-top: 5vh;
  font-size: 3rem;
  font-family: "Playfair Display";
}

.tpara {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.5rem;
  margin-top: 5vh;
}

.person {
  height: 85vh;
}

.author {
  margin-top: 4vh;
  display: flex;
  font-family: "Poppins";
  align-items: center;
}

.line2 {
  margin-right: 0.5rem;
  height: 0;
  width: 2rem;
  border: none;
  height: 0.2rem;
  background-color: #ff6767;
}

.upq {
  height: 5vh;
}

.lpq {
  height: 5vh;
  margin-left: 100%;
}

.name {
  font-weight: 500;
  color: #313131;
}

footer {
  font-size: 1.3rem;
  padding: 0.5rem;
  background-color: #ff6767;
  font-family: "Poppins";
  color: white;
  text-align: center;
}

.slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #313131;
  padding: 3rem;
}

.one {
  margin-right: 0.5rem;
  height: 0;
  width: 2rem;
  border: none;
  height: 0.4rem;
  background-color: #ff6767;
  border-radius: 5px;
}

.two{
  margin-right: 0.5rem;
  height: 0;
  width: 2rem;
  border: none;
  height: 0.4rem;
  border-radius: 5px;
  background-color: #CDCDCD;
}



@media only screen and (max-width: 1200px) {
  .heading {
    font-size: 2.5rem;
  }

  .paragraph {
    font-size: 0.9rem;
    width: 65%;
  }

  .btn {
    font-size: 0.8rem;
    padding: 0.5rem 0.65rem;
  }

  .sec1 {
    margin: 3rem 4rem;
  }

  .sectext {
    font-size: 0.9rem;
  }

  .disimg {
    height: 3rem;
  }

  .nav-item{
    display: none;
  }

  /* .testimonials */

  .leftside {
    width: 43vw;
    margin-right: 10vw;
  }

  .theading {
    font-size: 1rem;
  }

  .line {
    width: 5rem;
    height: 0.25rem;
  }

  .tcontent {
    font-size: 2.2rem;
  }

  .tpara {
    font-size: 1rem;
  }

  .person {
    height: 75vh;
  }

  .author {
    margin-top: 4vh;
  }

  .line2 {
    height: 0;
    width: 3rem;
    height: 0.2rem;
  }

  footer{
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1000px) {
  .leftside {
    width: 43vw;
    margin-right: 5vw;
  }

  .person {
    height: 65vh;
  }
}

@media only screen and (max-width: 900px) {
  .heading {
    font-size: 2.25rem;
  }

  .paragraph {
    font-size: 0.8rem;
    width: 75%;
  }

  .btn {
    font-size: 0.8rem;
    width: 30%;
    padding: 0.5rem 0.65rem;
  }

  .sec1 {
    margin: 2rem 3rem;
  }

  .sectext {
    font-size: 0.8rem;
  }

  .disimg {
    height: 3rem;
  }

  /* .testimonials */

  .leftside {
    width: 40vw;
    margin-right: 10vw;
  }

  .theading {
    font-size: 0.75rem;
  }

  .line {
    width: 4rem;
    height: 0.25rem;
  }

  .tcontent {
    margin-top: 5vh;
    font-size: 1.75rem;
  }

  .tpara {
    font-size: 0.95rem;
  }

  .person {
    height: 50vh;
  }

  .author {
    margin-top: 4vh;
  }

  .line2 {
    height: 0;
    width: 2rem;
    height: 0.2rem;
  }
}

@media only screen and (max-width: 700px) {
  .nav-item {
    display: none;
  }

  .content {
    width: 90vw;
  }

  .display {
    flex-direction: column;
  }

  .sectext {
    font-size: 1rem;
  }

  .rightside {
    display: none;
  }

  .leftside {
    margin: 0rem;
    width: 100vw;
  }

  .testimonials {
    padding-right: 3rem;
    padding-left: 3rem;
  }

  .tpara {
    width: 90%;
  }

  footer {
    font-size: 1rem;
  }
}
