@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");

* {
  margin: 0;
}

nav {
  height: 10vh;
  font-family: "Poppins";
  display: flex;
  flex-direction: row;
  margin: 0rem 3rem 0rem 0rem;
}

nav .nav-items {
  flex: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  color: white;
  font-size: 1.15rem;
}

.company-name {
  flex: 2;
  margin: auto;

  font-size: 1.5rem;
  font-weight: 500;
}

main {
  font-family: "Poppins";
  padding-left: 3rem;
  background-image: url("./Images/Hero\ Background.png");
  background-size: cover;
  height: 100vh;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
  width: 60vw;
}

.heading {
  font-weight: 500;
  font-size: 3.5rem;
}

.paragraph {
  margin-top: 1.25rem;
  font-size: 1.1rem;
  width: 75%;
}

.btn {
  border: none;
  margin-top: 1.5rem;
  width: 25%;
  font-weight: 400;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  margin-top: 1rem;
  border-radius: 5px;
  padding: 0.85rem 0.75rem;
  background-color: #ff6767;
}

.display {
  font-family: "Poppins";
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  background-color: #313131;
  color: white;
}

.sec1 {
  margin: 4rem 5rem;
}

.sectext {
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 0.5rem;
}

.testimonials {
  background-color: #313131;
  color: white;
  padding: 5rem;

  display: flex;
  padding-right: 0rem;
}

.leftside {
  width: 33vw;
  margin-right: 10vw;
}

.theading {
  font-family: "Poppins";
  letter-spacing: 0.5rem;
  font-size: 1rem;
}

.line {
  border: none;
  width: 5rem;
  height: 0.25rem;
  background-color: #ff6767;
}

.tcontent {
  margin-top: 10vh;
  font-size: 3rem;
  font-family: "Playfair Display";
}

.tpara {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.15rem;
  margin-top: 5vh;
}

.person {
  height: 85vh;
}

.author {
  margin-top: 4vh;
  display: flex;
  font-family: "Poppins";
  align-items: center;
}

.line2 {
  margin-right: 0.5rem;
  height: 0;
  width: 3rem;
  border: none;
  height: 0.2rem;
  background-color: #ff6767;
}

@media only screen and (max-width: 1200px) {
  .heading {
    font-size: 2.5rem;
  }

  .paragraph {
    font-size: 0.9rem;
    width: 65%;
  }

  .btn {
    font-size: 0.8rem;
    padding: 0.5rem 0.65rem;
  }

  .sec1 {
    margin: 3rem 4rem;
  }

  .sectext {
    font-size: 0.9rem;
  }

  .disimg {
    height: 4rem;
  }
}

@media only screen and (max-width: 900px) {
  .heading {
    font-size: 2rem;
  }

  .paragraph {
    font-size: 0.8rem;
    width: 65%;
  }

  .btn {
    font-size: 0.8rem;
    width: 30%;
    padding: 0.5rem 0.65rem;
  }

  .sec1 {
    margin: 2rem 3rem;
  }

  .sectext {
    font-size: 0.8rem;
  }

  .disimg {
    height: 3rem;
  }
}

@media only screen and (max-width: 700px) {
  .nav-item {
    display: none;
  }

  .content {
    width: 90vw;
  }

  .display {
    flex-direction: column;
  }

  .sectext {
    font-size: 1rem;
  }
}
